<!-- Pagination start here. -->
					
<nav aria-label="Page navigation example">
					
    <ul class="pagination">
        
        <!-- Jab current page zero ke equal nahi hai tab "previous" button dikhao. -->
      <li th:if="${currentPage!=0}" 
          class="page-item">
          <a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a>
      </li>
      
      <li th:classappend="${currentPage==i-1 ? 'active' : ''}" 
          th:each="i : ${#numbers.sequence(1,totalPages)}" 
          class="page-item">
          <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${i-1}}">
              <span th:text="${i}"></span>
          </a>
      </li>
      
      <!-- Jab currentpage+1 totalPages ke equal nahi hai tab "next" button dikhao. -->
      <li class="page-item"
          th:if="${currentPage+1 != totalPages}">
          <a class="page-link" 
              th:href="@{'/user/show-contacts/'+${currentPage+1}}" 
              href="#">Next</a>
      </li>
    </ul>
  </nav>
  
  <!-- Pagination ends here. -->