<!-- Start of sidebar -->

<div class="sidebar mt-1">
    <span onclick="toggelSidebar()" class="crossBtn">&times;</span>
    <a id="home-link" href="#" th:href="@{/user/index}" class="item active"><i class="fa-solid fa-house"></i> Home</a>
    <a id="profile-link" href="#" th:href="@{/user/profile}" class="item active"><i class="fa-solid fa-user"></i> Your Profile</a>
    <a id="contacts-link" href="#" th:href="@{/user/show-contacts/0}" class="item active"><i class="fa-regular fa-address-book"></i> View Contacts</a>
    <a id="add-contact-link" href="#" th:href="@{/user/add-contact}" class="item active"><i class="fa-solid fa-plus"></i> Add Contacts</a>
    <a id="setting-link" href="#" class="item active"><i class="fa-solid fa-gear"></i> Setting</a>
    <a href="#" th:href="@{/logout}" class="item active"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

      <div class="divider"></div>
  </div>

  <!-- End of sidebar -->