<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<!-- <link rel="stylesheet" th:href="@{/css/mycss.css}" /> -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container">
	
		<img src="" class="profile" th:src="@{/image/profile.jpg}" alt="Profile photo" />
	
		<h1>This is to show the way to insert the CSS, JS, and image in the html page in Thymeleaf.</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quod quia qui in impedit ab voluptatum placeat veritatis ratione doloremque.</p>
	
	</div>
	
	<!-- <script th:src="@{/js/myjs.js}"></script> -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>